.header__image {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 100%;
}

.image-container {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.image-container img {
  opacity: 0; /* Começa invisível */
  transform: scale(0.9); /* Começa ligeiramente menor */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Transição suave */
}

.image-container img.loaded {
  opacity: 1; /* Torna visível */
  transform: scale(1); /* Volta ao tamanho normal */
}

.dica__images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

body .dica__images {
  display: flex;
}

.dica-page .dica__images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

.dica-page .image-container {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.dica-header .dica__images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

.dica-header .image-container {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-bottom: 20px;
}

.header__content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  font-size: 1.2rem;
  color: var(--text-light);
  margin-top: 5px;
}